@mixin media-min($_min-width) {
  @media screen and (min-width: $_min-width) {
    & {
      @content;
    }
  }
}

.tabs {
  width: 100%;
  .tab-list {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    list-style: none;
    @include media-min(640px) {
      justify-content: space-around;
    }
    @include media-min(1024px) {
      justify-content: flex-start;
    }
  }
  .tab {
    padding: 0.5rem 0.7rem;
    border: none;
    border-radius: 0.6rem;
    outline: none;
    background-color: transparent;
    color: #fef7ee;
    font-size: 0.5rem;
    @include media-min(1024px) {
      width: 5rem;
      font-size: 0.75rem;
    }

    cursor: pointer;
    &.active {
      background-color: #6f757c;
    }
  }
}
